In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
df = pd.read_csv('cleaned_combined_2015_2020.csv')
df.head()

,student_totals_seniors,specific_interactions_1-on-1s_total,specific_interactions_group_total,specific_interactions_1-on-1s_at_least_one,specific_interactions_group_at_least_one,specific_interactions_parent_meetings,specific_interactions_parent_meetings_at_least_one,total_interactions_met_with_1_plus_times_(group_and_1_1),total_interactions_met_with_3_plus_times_(group_and_1_1),total_interactions_met_with_5_plus_times_(group_and_1_1),...,total_female_rate,enrolled_female_rate,total_male_rate,enrolled_male_rate,total_black_rate,enrolled_black_rate,total_white_rate,enrolled_white_rate,econ_total_rate,econ_enrolled_rate
0,148.0,724.0,644.0,126.0,143.0,55.0,37.0,145.0,138.0,113.0,...,0.455357,0.285714,0.544643,0.348214,0.160714,0.080357,0.741071,0.473214,0.392857,0.223214
1,247.0,837.0,726.0,234.0,231.0,183.0,97.0,235.0,226.0,137.0,...,0.549708,0.397661,0.450292,0.274854,0.315789,0.239766,0.549708,0.368421,0.520468,0.339181
2,136.0,1679.0,799.0,128.0,129.0,179.0,64.0,132.0,124.0,118.0,...,0.522388,0.373134,0.477612,0.223881,0.305970,0.134328,0.604478,0.425373,0.559701,0.291045
3,676.0,298.0,150.0,142.0,128.0,116.0,99.0,218.0,45.0,9.0,...,0.537842,0.452496,0.462158,0.325282,0.352657,0.270531,0.265700,0.238325,0.563607,0.407407
4,96.0,488.0,158.0,81.0,77.0,13.0,12.0,85.0,73.0,61.0,...,0.484848,0.363636,0.515152,0.272727,0.353535,0.212121,0.575758,0.393939,0.434343,0.202020

In [4]:
school_names = df['school_name'].unique()
vars = ['enrolled_rate']
 
results = []
schools = []
fstats = []
pvals = []
variables = []
for var in vars:
    for school in school_names:
        group1 = df[var][df['school_name'] != school]
        group2 = df[var][df['school_name'] == school]
        result = stats.f_oneway(group1, group2)
        fstats.append(result.statistic)
        pvals.append(result.pvalue)
        results.append(result)
        variables.append(var)
        schools.append(school)
        
results_df = pd.DataFrame({'school': schools, 'variable': variables, 'fstat': fstats, 'pval': pvals})
 
results_df[['school','fstat', 'pval']].sort_values(by='pval').round(5).reset_index(drop=True)

                             school     fstat     pval
0             Armstrong High School  37.50041  0.00000
1   Washington and Lee High School   11.17909  0.00107
2              Huguenot High School  10.23145  0.00172
3               Bassett High School   9.05959  0.00312
4       Charlottesville High School   8.75692  0.00364
5       Alexandria City High School   8.40760  0.00436
6    Chatham High School (Virginia)   5.55243  0.01988
7     Buckingham County High School   4.55669  0.03458
8           Magna Vista High School   4.19882  0.04237
9              Tunstall High School   3.34716  0.06951
10        Nelson County High School   3.25739  0.07331
11         Martinsville High School   2.69478  0.10299
12        Orange County High School   1.86400  0.17442
13       Patrick County High School   1.73588  0.18988
14               Gretna High School   1.17192  0.28092
15       William Monroe High School   1.15451  0.28451
16      Fluvanna County High School   0.90377  0.34346
17        Louisa County High School   0.59209  0.44295
18      Lancaster High School (UVA)   0.48081  0.48924
19            Dan River High School   0.44366  0.50649
20         Rappahannock High School   0.24284  0.62296
21       Northumberland High School   0.04042  0.84097
22    George Washington High School   0.02497  0.87467